<!DOCTYPE html>
<html>
  <head>
    <title>{{ project }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/foundation.min.css' />
    <link rel='stylesheet' href='/icons/foundation-icons/foundation-icons.css' />
    <script type='text/javascript' src='/javascripts/jquery-2.0.3.min.js'></script>
    <script type='text/javascript' src='/javascripts/knockout-3.1.0.js'></script>
    <script type='text/javascript' src='/javascripts/foundation.min.js'></script>
	<script type='text/javascript' src='/javascripts/scitizen.js'></script>

	<script type='text/javascript' src='/javascripts/Chart.min.js'></script>
  </head>
  <body>


    <!-- Navigation -->
      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="#">
                Scitizen: {{ project.name }}
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li><a href="#" data-bind="click: panelProjects">Projects</a></li>
          </ul>

          <ul class="right">
            <li><a href="#"> {{ user }} </a></li>
            <li><a href="/logout">Log out</a></li>

          </ul>
        </section>
      </nav>

    <!-- End Navigation -->



   {{{ yield }}}

    <!-- End Content -->

      </div>
    </div>
  </div>

    <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright 2013 GenOuest platform - IRISA.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="https://www.e-biogenouest.org/">e-biogenouest</a></li>
            <li><a href="http://www.genouest.org">GenOuest platform</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  </body>
</html>
