<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['setDocumentTitle', document.domain + "/{{project.name}}"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://"+piwik_url+"/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', piwik_siteid]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();

  function addEvent(event, value) {
    _paq.push(['trackEvent', event, value]);
  }

</script>
<!-- End Piwik Code -->
