<!--
<div id="messages" data-alert class="alert-box warning" data-bind="if: has_message">
<div data-bind="text: message"></div>
<a href="#" class="close" data-bind="click: clear_message">&times;</a>
</div>
-->
<div data-bind="visible: image_all_panel">
  <ul id="show_image_all" class="small-block-grid-4">
  </ul>
  <div data-bind="click: add_image_all" id="refresh_image_all" class="row"><i class="fi-refresh large"> Load more items</i></div>
</div>
<div id="main" data-bind="visible: main_panel">
  <div id="last_images" class="block row section_dark" data-bind="if: has_images">
    <div class="small-6 columns main_image">
        <img data-bind="attr: {src: '/image/'+ko.utils.unwrapObservable(selected_image()._id)+'/raw'}" alt="selected image" />
    </div>
    <div class="small-4 columns" data-bind="foreach: last_10_images">
      <div class="small-2">
        <img class="thumb" data-bind="click: $parent.show_image, attr: {src: '/image/'+ko.utils.unwrapObservable(_id)+'/raw'}" alt="last 10 images" />
      </div>
    </div>
  </div>

  <div class="row">
    <div data-alert class="alert-box">
      Help us curating the database, give your advice on the random selected item.
    </div>
  </div>

  <div class="block row">
    <!-- help, about -->
    <div class="small-6 columns sub" data-bind="if: has_images">
      <!-- random element -->
      <div class="row">
        <div class="small-6 columns">
              <img id="random_image" data-bind="click: click_random, attr: {src: '/image/'+ko.utils.unwrapObservable(random_image()._id)+'/raw'}" alt="random image from database" />
              <span data-bind="visible: project().point_and_click">Click image to point the region of interest</span>
        </div>
        <div class="small-6 columns">
        <form id="random_form" data-bind="html: curate_form_html">
        </form>
        </div>
      </div>
      <div class="row">
          <div class="small-3 columns">
            <button id="curate" class="button action" data-bind="click: image_curate"><i class="fi-upload"></i> Send</button>
          </div>
          <div class="small-3 columns">
            <button id="spam" class="button action" data-bind="click: image_spam"><i class="fi-trash"></i> Spam</button>
          </div>
          <div class="small-6 columns">
          </div>
      </div>
    </div>
    <div id="aboutus" class="small-6 columns">
          <div class="heading"><span>{{ project.name }}</span></div>
          <div data-bind="html: project_description"></div>
          <i class="fi-social-twitter large"></i>
          <i class="fi-social-facebook large"></i>
          <i class="fi-social-google-plus large"></i>
    </div>
  </div>

  <div class="block row">
    <h2><i class="fi-compass"></i> Browse the world...</h2>
    <div id="cluster-canvas" >
    <!-- map -->
    </div>
  </div>
</div>

<!-- end main panel -->

<div id="newitem" class="section_white" data-bind="visible: newitem_panel">
  {{> part}}
</div>
<!-- end new item -->


<!-- Dialog -->
<div id="myModal" class="reveal-modal large" data-reveal>
  <div id="myModalContent"><canvas width="800" height="600" id="myModalCanvas"></canvas></div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/javascript">

$(document).foundation();

var map;
var cluster_map;
var infowindow = new google.maps.InfoWindow();;
var event_position = new google.maps.LatLng(48.112047191207964, -1.6814074292778969);
var marker=null;

  /**
  * Adds a clickable Google map on element "map-canvas",
  * centered on <i>event_position</i>
  */
  function initialize_map(event_position) {
	  if(document.getElementById("map-canvas")!=null) {
      var mapOptions = {
        center: event_position,
        zoom: 8
      };
      map = new google.maps.Map(document.getElementById("map-canvas"),
          mapOptions);
      google.maps.event.addListener(map, "click", function(event) {
      var lat = event.latLng.lat();
      var lng = event.latLng.lng();
      // populate yor box/field with lat, lng
      if(marker!=null) {
            marker.setMap(null);
      }
      marker = new google.maps.Marker({
          position: event.latLng,
          map: map,
          title: 'Event'
      });
      $("#geo").val(lat+","+lng);
    });
    }
  }

  /**
  * Adds a Google cluster map on element "cluster-canvas",
  * centered on <i>event_position</i>
  */
  function initialize_cluster(event_position) {

  if(document.getElementById("cluster-canvas")!=null) {
    var cluster_mapOptions = {
      zoom: 3,
      center: event_position,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    cluster_map = new google.maps.Map(document.getElementById('cluster-canvas'),
                                      cluster_mapOptions);
  }

  }

  var project =  { _id: '{{ project._id }}', name: '', description: '' };

  var viewModel = {
      user: ko.observable('{{user}}'),
      user_logged: ko.computed(function() { return '{{user}}'!=''; },
                                viewModel),
      home: ko.observable('/'),
      login: ko.observable('/login'),
      logout: ko.observable('/logout'),
      my: ko.observable('/my'),
      register: ko.observable('/users/register'),
      message: function(msg) {
        alert(msg);
      },
      project: ko.observable({ _id: '{{ project._id }}',
                                name: '',
                                description: '' }),
      project_ready: ko.observable(false),
      project_description: ko.observable(''),
      selected_image: ko.observable({_id:0}),
      random_image: ko.observable({_id:0}),
      click_random: function() {
        if(! viewModel.project().point_and_click) {
          return;
        }
        var image_url = '/image/'+viewModel.random_image()._id+'/raw';
        display_image_for_click(image_url);
      },
      show_image: function(image) {
        viewModel.selected_image(image);
      },
      image_all_panel: ko.observable(false),
      image_all_loaded: ko.observable(0),
      add_image_all: function() {
        //refresh_image_all
        var img_html = "";
        var nb = Math.min(20, viewModel.images().length - viewModel.image_all_loaded());
        viewModel.image_all_loaded(nb);
        for(var i=viewModel.image_all_loaded();i<viewModel.image_all_loaded()+nb;i++) {
          var image = viewModel.images()[i];
          img_html += '<li><img data-id="'+image._id+'" src="/image/'+image._id+'/raw" /></li>';
        }
        viewModel.image_all_loaded(viewModel.image_all_loaded()+nb);
        if(viewModel.image_all_loaded()>=viewModel.images().length) {
          $("#refresh_image_all").hide();
        }
        $("#show_image_all").append(img_html);
      },
	    goto_image_all: function() {
			      viewModel.image_all_panel(true);
            viewModel.main_panel(false);
            viewModel.newitem_panel(false);
            if(viewModel.image_all_loaded() == 0) {
              var img_html = "";
              var nb = Math.min(20, viewModel.images().length);
              viewModel.image_all_loaded(nb);
              for(var i=0;i<nb;i++) {
                var image = viewModel.images()[i];
                img_html += '<li><img data-id="'+image._id+'" src="/image/'+image._id+'/raw" /></li>';
              }
              $("#show_image_all").append(img_html);
              if(viewModel.image_all_loaded()>=viewModel.images().length) {
                $("#refresh_image_all").hide();
              }
            }
	    },
      goto_addnew_panel: function() {
        viewModel.main_panel(false);
        viewModel.image_all_panel(false);
        viewModel.newitem_panel(true);
        if(map==null) {
          initialize_map(event_position);
        }
      },
      goto_home_panel: function() {
        viewModel.main_panel(true);
        viewModel.newitem_panel(false);
        viewModel.image_all_panel(false);
      },
      has_images: ko.observable(false),
      geo: ko.observable({{ project.geo }}),
      newitem_panel: ko.observable(false),
      main_panel: ko.observable(true),
      images: ko.observableArray(),
      image_spam: function() {
        var image_id = viewModel.random_image()._id;
        $.ajax({
            url: '/image/'+image_id,
            type: 'PUT',
            data: { spam: 1},
            success: function(result) {
              changeRandomImage();
            }
        });
      },
      image_curate: function() {
        var form_elts = $("#random_form .sciform");
        var curate = {};
        var form_ids = "";
        var i = 0;
        $.each(form_elts, function(form_elt) {
          if(i>0) { form_ids += "," };
          i+=1;
          // send form_elts with all attr, comma separated
          // and each key=value form element
          curate[$(this).attr('id')]=$(this).val();
          form_ids += $(this).attr('id');
        });
        curate['form_elts'] = form_ids;
        $.ajax({
          url: '/image/'+viewModel.random_image()._id,
          type: 'PUT',
          data: curate,
          success: function(result) {
            changeRandomImage();
          }
        });
      },
      last_10_images: ko.observableArray(),
      form_html: ko.observable(),
      curate_form_html: ko.observable()
    };
    ko.applyBindings(viewModel);


    function getRelativePosition(canvas, e) {
      var rect = canvas.getBoundingClientRect();
      return {
          x: e.clientX - rect.left,
          y: e.clientY - rect.top
        };
      /*
      var scroll = document.body.scrollTop;
      if( typeof( canvas.offsetParent ) != 'undefined' ) {
        for( var posX = 0, posY = 0; canvas; canvas = canvas.offsetParent ) {
          posX += canvas.offsetLeft;
          posY += canvas.offsetTop;
        }
        return {x: e.clientX - posX, y: e.clientY - (posY-scroll)};
      } else {
        return {x: e.clientX - canvas.offsetLeft, y: e.clientY - (canvas.offsetTop-scroll)};
      }
      */
    }

    function display_image_for_click(image_url) {
      $("#myModal").foundation('reveal', 'open');
      var imageObj = new Image();
      imageObj.onload = function() {
        $("#myModalContent").css('background-image', 'url('+imageObj.src+')');
        var canvas = $("#myModalCanvas");
        canvas.attr("height",imageObj.height);
        canvas.attr("width", imageObj.width);
      };
      imageObj.src = image_url;
    }


    function changeRandomImage() {
      var data = viewModel.images();
      var random_elt = Math.floor((Math.random() * data.length));
      var image = data[random_elt];
      viewModel.random_image(image);
      // Update form
      var form_html = "";
      var count = 0;
      var keys = "";
      $.each(project['form'],function(key) {
            if(count>0) { keys += ','; }
            keys += project['form'][key]['id'];
            var key_id = "r"+project['form'][key]['id'];
            count += 1;
            var value=null;
            if(image['fields'][key_id]!=undefined) {
              value = image['fields'][key_id];
            }
            form_html += project_form_element(project['form'][key],value);
      });

      if(project.point_and_click) {
        keys += ",user_click";
        form_html += '<input class="sciform" id="user_click" name="user_click" type="hidden" value=""/>';
      }
      form_html += '<input class="" name="form_elts" type="hidden" value="'+keys+'"/>';
      viewModel.curate_form_html(form_html);
    }


    $(document).ready(function() {

      $("#myModalCanvas").on('click',function(e) {
        var canvas = document.getElementById('myModalCanvas');
        var pos = getRelativePosition(canvas, e);
        $("#user_click").val(pos.x+","+pos.y);
        var context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.globalAlpha = 0.5;
        context.beginPath();
        context.moveTo(0,0);
        context.arc(Math.ceil(pos.x), Math.ceil(pos.y), 5, 0, 2 * Math.PI);
        context.fillStyle = 'red';
        context.fill();
      });

      initialize_cluster();
      $.ajax({
        cache: false,
        url: "/project/"+project._id,
        dataType: "json",
        success: function(data) {
      //$.getJSON("/project/"+project._id, function(data) {
          project = data;
          viewModel.project(data);
          if(project.users_can_add || project.users.indexOf('{{user}}') != -1) {
			         var form_html = "";
               var count = 0;
			         $.each(project['form'],function(key) {
                 count += 1;
				         form_html += project_form_element(project['form'][key],null);
               });
			            form_html += "";
                  if(count > 0) {
                    viewModel.project_ready(true);
                  }
          }
          var converter = new Markdown.Converter();
          viewModel.project_description(converter.makeHtml(data['description']));
          viewModel.form_html(form_html);
			    $("#dynaform").html(form_html);
        }
      });

      $.ajax({
        cache: false,
        url: "/project/"+project._id+"/image",
        dataType: "json",
        success: function(data) {
      //$.getJSON("/project/"+project._id+"/image", function(data) {
        if(data!=null && data.length>0) {
          viewModel.has_images(true);
          viewModel.images(data);
          viewModel.last_10_images(data.slice(0,9));
          viewModel.selected_image(data[0]);
          changeRandomImage();
          update_map();
        }
        }
      });

		$("#image_form").submit(function(e) {
			var formObj = $(this);
			var formURL = formObj.attr("action");
			var formData = new FormData(this);
			$.ajax({
				url: formURL,
				type: 'POST',
				data:  formData,
				mimeType:"multipart/form-data",
				contentType: false,
				cache: false,
				processData:false,
				success: function(data, textStatus, jqXHR)
				{
          /*
          var message = '<div data-alert class="alert-box">';
          message += 'New item successfully loaded';
          message += '<a href="#" class="close">&times;</a>'
          message += '</div>';
          */
          message = 'New item successfully loaded';
          viewModel.message(message);
				},
				error: function(jqXHR, textStatus, errorThrown)
				{
            /*
            var message = '<div data-alert class="alert-box alert">';
            message += jqXHR.responseText;
            message += '<a href="#" class="close">&times;</a>'
            message += '</div>';
            */
            message = jqXHR.responseText;
            viewModel.message(message);
				}
			});
			e.preventDefault(); //Prevent Default action.
			//e.unbind();
		});

  });


  function update_map() {
    var markers = new Array();
    var results = viewModel.images();

    for(var i=0;i<results.length;i++) {
      var result = results[i];
      var result_position = new google.maps.LatLng(result['fields']['location'][0], result['fields']['location'][1]);
      var cluster_marker = new google.maps.Marker({
        position: result_position
      });
      if(i==0) {
        cluster_map.setCenter(result_position);
      }
      makeInfoWindowEvent(cluster_map, infowindow, result, cluster_marker);
      markers.push(cluster_marker);
      }
      var markerCluster = new MarkerClusterer(cluster_map, markers);
  }

  function makeInfoWindowEvent(map, infowindow, result, marker) {
    google.maps.event.addListener(marker, 'click', function() {
      contentString = '<div>';
      contentString += '<img src="/image/'+result['_id']+'/raw" width="300"/>';
      for(field in result['fields']) {
        if(field!="loc" && field!="send") {
          for(i in project["form"]) {
            if("r"+project["form"][i]["id"] == field) {
              contentString += '<div> '+project["form"][i]["label"]+' : '+result['fields'][field]+'</div>';
              break;
            }
          }
        }
      }
      contentString += '</div>';
      infowindow.setContent(contentString);
      infowindow.open(map, marker);
    });
  }

	function panelProjects() { }

</script>
