


<div class="">
  <div class="" id="intro">
    <div class="row main_info" id="general">
      <div class="main_info_title">Science by crowd, Citizenship for science...</div>
    </div>
    <div class="row main_info" id="scientist">
      <div class="large-2 column">
        <img class="main_info_image" src="/images/Science_Girl.png"/>
      </div>
      <div class="large-10 column">
As a scientist you can create free project, and build a community of user to help you find valuable data and curate the tons of gathered information.
....
      </div>
    </div>
    <div class="row main_info" id="citizen">
      <div class="large-2 column">
        <img class="main_info_image" src="/images/rg1024_Cartoon_Camera.png"/>
      </div>
      <div class="large-10 columns main_info_text">
As a community science citizen you can help scientists gather information and help them curate their data.
Seen something of interest, take a photo and send it with geo data.


anonymous ....
      </div>
  </div>
  <div class="band">
    <img src="/images/band1.png"/>
  </div>
  <div class="row main_info" id="faq">
    Scitizen is a colllaborative citizen science project. You can.....
    High usage: use your own Google maps API (see https://code.google.com/apis/console/?noredirect).
    Anti spam with your Askimet key
    Quota
  </div>
  </div>

</div>

<script type="text/javascript">

    var viewModel = {
      project_list: ko.observableArray(),
      project_ready: ko.observable(false),
      goto_home_panel: function() {},
      goto_addnew_panel: function() {},
      user: ko.observable('{{user}}'),
	    user_logged: ko.computed(function() { return '{{user}}'!=''; }, viewModel),
      home: ko.observable('/'),
      login: ko.observable('/login'),
      logout: ko.observable('/logout'),
      register: ko.observable('/users/register'),
      my: ko.observable('/my')
    };
    //ko.applyBindings(viewModel, document.getElementById('content_view'));
    ko.applyBindings(viewModel);


</script>
