


<div>
  <div id="intro">
    <div class="row small-12 large-12 main_info" id="general">
      <div class="main_info_title"><strong>Science by crowd, Citizenship for science...</strong></div>
    </div>
    <div class="row main_info" id="scientist">
      <div class="small-2 large-2 column">
        <img class="main_info_image" src="/images/Science_Girl.png"/>
      </div>
      <div class="small-10 large-10 column main_info_text">
        <p>As a scientist you can create free projects, and build a community of user to
          help you find valuable data and curate the tons of gathered information.
        </p>
        <p>You define a basic form then user sends a photo, with its position and the
          filled form. Domain can be biology, architecture, birds...
        </p>
		<div class="row">
			<ul class="small-block-grid-1 large-block-grid-3">
				<li>
          <ul class="pricing-table">
            <li class="title">Storage</li>
            <li class="description">Photos and related data</li>
            <li class="bullet-item">API access to all elements</li>
          </ul>
        </li>
				<li>
          <ul class="pricing-table">
            <li class="title">Users can curate submitted data</li>
            <li class="description">User or project users data curation</li>
            <li class="bullet-item">Public or private access to content</li>
            <li class="bullet-item">Statistics on user submitted data</li>
          </ul>
				<li>
          <ul class="pricing-table">
            <li class="title">API access</li>
            <li class="description">REST API access with a project key</li>
            <li class="bullet-item">Manage your own web site for display and use the scitizen API for backend management</li>
          </ul>
        </li>
			</ul>
		</div>
      </div>
    </div>
    <div class="row main_info" id="citizen">
      <div class="small-2 large-2 column">
        <img class="main_info_image" src="/images/rg1024_Cartoon_Camera.png"/>
      </div>
      <div class="small-10 large-10 columns main_info_text">
        <p>As a community science citizen you can help scientists gather information and help them curate their data.</p>
        <p>You have seen something of interest for one of the projects? Take a photo and send it with geo data (on your mobile phone, or afterward on the project site).</p>
        <div class="row">
        <ul class="small-block-grid-1 large-block-grid-3">
          <li>
            <ul class="pricing-table">
              <li class="title">Contribute</li>
              <li class="description">Help a scientific project filling a database of knowledge</li>
              <li class="bullet-item">Contribute with new items</li>
              <li class="bullet-item">Access to the project photo</li>
            </ul>
          </li>
          <li>
            <ul class="pricing-table">
              <li class="title">Community</li>
              <li class="bullet-item">Anonymous contribution</li>
              <li class="bullet-item">Curate the data provided by others</li>
              <li class="bullet-item">Be part of a community</li>
            </ul>
          </li>
          <li>
            <ul class="pricing-table">
              <li class="title">Mobility</li>
              <li class="bullet-item">Get items around you (soon)</li>
              <li class="bullet-item">Mobile application (soon)</li>
              <li class="bullet-item">Browser application</li>
            </ul>
          </li>
        </ul>
      </div>
      </div>
  </div>
  <div class="row" >
    <div class="small-12 large-12 columns band" id="band1"></div>
  </div>
  <div class="row main_info" id="faq">
	<ul>
		<li>Some questions, problems ?... Contact us <a href="mailto:support@genouest.org">support[at]genouest.org</a></li>
		<li>Default project plans have limited disk quota (100Go). If you need more, you can contact us for a personal pricing plan or collaboration.</li>
		<li>Maps make use of the free but limited Google Maps API. Usage is
limited. If you think your project will need high usage, you can get and use
your own API key for your project <a href="https://developers.google.com/maps/signup?csw=1">at Google</a>.</li>
		<li><a href="http://akismet.com/">Akismet</a> helps you prevent spam in your submitted data. You can use your Akismet key per project to help you filtering user data (Optional)</li>
	</ul>
  </div>
  </div>

</div>

<script type="text/javascript">

    var viewModel = {
      project_list: ko.observableArray(),
      project_ready: ko.observable(false),
      goto_home_panel: function() {},
      goto_addnew_panel: function() {},
      user: ko.observable('{{user}}'),
	    user_logged: ko.computed(function() { return '{{user}}'!=''; }, viewModel),
      home: ko.observable('/'),
      login: ko.observable('/login'),
      logout: ko.observable('/logout'),
      register: ko.observable('/users/register'),
      my: ko.observable('/my')
    };
    //ko.applyBindings(viewModel, document.getElementById('content_view'));
    ko.applyBindings(viewModel);


</script>
