  <div class="row">
    <div class="small-4 large-4 large-centered columns">
      <div class="row">

    <!-- Content -->
{{#messages}}
   <span class="alert label" > {{ messages }} </span>
{{/messages}}
<span class="" id="message"></span>


<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" id="username"/>
    </div>
    <div><button type="button" class="btn btn-large" id="password_update">Lost your password ?</button></div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <!--<a href="#" class="button">Log In</a>-->
        <button>Log In</button>
    </div>
</form>

    <!-- End Content -->

      </div>
    </div>
  </div>

<script>
$(document).ready(function() {
  $("#password_update").click(function(){
    if( $("#username").val() === undefined || $("#username").val() === '') {
      console.log("empty");
      $("#message").addClass('alert-box alert');
      $("#message").html('Username is empty, please fill it with your identifier');
    }
    else {
      $.ajax({
        url: "/users/password_reset_request",
        type: 'POST',
        data:  { login: $("#username").val() },
        dataType: "json",
        success: function(data, textStatus, jqXHR)
        {
          if(data.err!=0) {
              $("#message").html("An error occured: "+data.msg);
              $("#message").addClass("alert-box alert");
          }
          else {
            $("#message").removeClass("alert-box alert");
            $("#message").html(data.msg);
            $("#message").addClass("alert-box success");
          }

        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            $("#message").addClass("alert-box alert");
            $("#message").html("An error occured");
        }
      });
    }
  });
});


var viewModel = {
  project_list: ko.observableArray(),
  project_ready: ko.observable(false),
  goto_home_panel: function() {},
  goto_addnew_panel: function() {},
  user: ko.observable('{{user}}'),
  user_logged: ko.computed(function() { return '{{user}}'!=''; }, viewModel),
  home: ko.observable('/'),
  login: ko.observable('/login'),
  logout: ko.observable('/logout'),
  register: ko.observable('/users/register'),
  my: ko.observable('/my')
};
//ko.applyBindings(viewModel, document.getElementById('content_view'));
ko.applyBindings(viewModel);
</script>
