  <div class="row">
    <div class="large-4 large-centered columns">
      <div class="row">

    <!-- Content -->
{{#messages}}
   <span class="alert label"> {{ messages }} </span>
{{/messages}}

<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <!--<a href="#" class="button">Log In</a>-->
        <button>Log In</button>
    </div>
</form>

    <!-- End Content -->

      </div>
    </div>
  </div>

<script>
var viewModel = {
  project_list: ko.observableArray(),
  project_ready: ko.observable(false),
  goto_home_panel: function() {},
  goto_addnew_panel: function() {},
  user: ko.observable({{user}}),
  user_logged: ko.computed(function() { return '{{user}}'!=''; }, viewModel),
  home: ko.observable('/'),
  login: ko.observable('/login'),
  logout: ko.observable('/logout'),
  register: ko.observable('/users/register')
};
//ko.applyBindings(viewModel, document.getElementById('content_view'));
ko.applyBindings(viewModel);
</script>
