	<div class="row" data-bind="visible: manageAccount">
		<div data-bind="with: user_current">
			<label for="username">User id</label>
			<input type="text" disabled id="username" data-bind="attr: { value: username }"/>
			<label for="userkey">API key</label>
			<input type="text" disabled id="userkey" data-bind="attr: { value: key }"/>
			<button data-bind="click: $parent.user_newkey" type="button" id="user_key_regenerate" class="button tiny">Regenerate</button>
			<label for="userpassword">New password</label>
			<input type="password" id="userpassword"/>
			<label for="userpasswordconfirm">Confirm password</label>
			<input type="password" id="userpasswordconfirm"/>
			<button data-bind="click: $parent.user_newpassword" type="button" id="user_password_regenerate" class="button tiny">Change password</button>
		</div>
	</div>
	<div class="row" data-bind="visible: admin">
		<div class="row" >
			<table>
			<thead>
					<tr><th>Name</th><th>Registered</th><th>Suspend</th></tr>
			</thead>
			<tbody data-bind="foreach: user_list">
					<tr>
							<td data-bind="text: username"></td>
							<td data-bind="text: registered"></td>
							<td><i class="fi-trash" data-bind="attr: { user: _id }, click: $parent.user_suspend">	</i></td>
					</tr>
			</tbody>
			</table>
		</div>
	</div>
	<div class="row" data-bind="visible: manageItems">
		<div class="row">
			<h2 data-bind="text: project_current().name"></h2>
		</div>
			<div class="small-6 large-6 columns">
		    <table>
		    	<thead>
		        <tr><th>Name</th><th>Image</th><th>Votes</th><th>Tagged as spam</th><th>Actions</th></tr>
		    	</thead>
		    	<tbody data-bind="foreach: image_list">
		      	<tr>
							<td data-bind="text: name"></td>
							<td>
								<a class="th" data-bind="attr: {href: '/image/'+ko.utils.unwrapObservable(_id)+'/raw'}">
									<img class="thumb" data-bind="attr: {src: '/image/'+ko.utils.unwrapObservable(_id)+'/raw'}"/>
								</a>
							</td>
							<td data-bind="if: $data.stats">
								<span data-bind="text: stats.vote"></span>
							</td>
							<td data-bind="if: $data.stats">
								<span data-bind="text: stats.spam"></span>
							</td>
							<td>
								<div data-bind="ifnot: validated">
									<div data-alert class="alert-box warning round">
										<i class="fi-check" data-bind="click: $parent.image_validate">Validate</i>
									</div>
								</div>
								<i class="fi-trash" data-bind="click: $parent.image_trash">Trash</i>
								<i class="fi-monitor" data-bind="click: $parent.image_show">Stats</i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="small-6 large-6 columns">
                <div id="project_stats" class="row"></div>
				<div id="image_stats" class="row">
				</div>
			</div>
		</div>
  <div class="row" data-bind="visible: editProject">
    <div class="small-4 large-4 columns">
			<div>
				<h2>Information</h2>
				<label for="project_short_desc_edit">Short description</label>
				<textarea rows="20" id="project_short_desc_edit" name="project_short_desc_edit"  data-bind="value: project_short_description"></textarea>
				<label for="project_desc_edit">Description (MarkDown support)</label>
				<textarea rows="20" id="project_desc_edit" name="project_desc_edit"  data-bind="value: project_description"></textarea>
				<label for="project_google_edit">Google Maps API key (optional)</label>
				<input name="project_google_edit" id="project_google_edit" type="text" data-bind="value: project_google"/>
				<label for="project_askimet_edit">Antispam Askimet API key (optional)</label>
				<input name="project_askimet_edit" id="project_askimet_edit" type="text" data-bind="value: project_askimet"/>
				<button type="button" class="button tiny" data-bind="click: project_update">Update</button>
			</div>
			<div data-bind="with: project_current">
				<h2>Members</h2>
				<table data-bind="foreach: users">
					<tr><td data-bind="text: $data"></td><td data-bind="click: viewModel.project_delete_member"><i class="fi-trash"> Delete</i></td></tr>
				</table>
				<input type="text" id="add_member" value=""/>
				<button type="button" class="button tiny" data-bind="click: $parent.project_add_member">Add member</button>
			</div>
			<div>
				<h2>Form</h2>
				<h3>Widget code</h3>
				<div class="row">
					<div class="small-6 columns">
					<button type="button" class="button tiny" data-bind="click: widget_foundation_show">Widget code - Foundation</button>
					<button type="button" class="button tiny" data-bind="click: widget_bootstrap_show">Widget code - Bootstrap</button>
					</div>
				</div>
				<div class="row">
      		<form>
        		<label>Form selection (Markdown supported)</label>
        		<select data-bind="options: project_form_elements, optionsCaption: 'Choose from ...', value: selected_form_element">
        		</select>
      		</form>
				</div>
				<div class="row">
					<div class="columns">
						<button type="button" class="button tiny" data-bind="click: add_project_form_element">Add</button>
						<button type="button" class="button tiny" data-bind="click: render_project_form_element">Render</button>
						<button type="button" class="button tiny" data-bind="click: save_project_form_element">Save</button>
					</div>
				</div>
			</div>
      <div id="form_element" class="row" data-bind="html: form_elements"></div>
    </div>
    <div class="small-8 large-8 columns" id="form_render">
    </div>
  </div>


  <div class="row" data-bind="visible: showProjects">
		<div class="row">
			<i data-bind="click: addProject" class="fi-folder-add"> Create project</i>
		</div>

    <div class="row">
    <table>
    <thead>
        <tr><th>Status</th><th>Name</th><th>Owner</th><th>Public</th><th>Geo-localisation</th><th>Validation</th><th>Allow user uploads</th><th>Point and click images</th><th>Quota</th><th></th></tr>
    </thead>
    <tbody data-bind="foreach: project_list">
        <tr>
            <td>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" data-bind="checked: status, attr: {id: 'onoff'+name, value: status}, click: $parent.project_switch_on_off" >
                <label class="onoffswitch-label" data-bind="attr: {for: 'onoff'+name}">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
            </div>
            </td>
            <td data-bind="text: name"></td>
            <td data-bind="text: owner"></td>

			<td>
			<div class="onoffswitch">
                <input type="checkbox" name="publicswitch" class="onoffswitch-checkbox" data-bind="checked: public, attr: {id: 'public'+name, value: public}, click: $parent.project_switch_public" >
                <label class="onoffswitch-label" data-bind="attr: {for: 'public'+name}">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
            </div>
            </td>

            <td>
            <div class="onoffswitch">
                <input type="checkbox" name="geoswitch" class="onoffswitch-checkbox" data-bind="checked: geo, attr: {id: 'geo'+name, value: geo}, click: $parent.project_switch_geo" >
                <label class="onoffswitch-label" data-bind="attr: {for: 'geo'+name}">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
            </div>
            </td>
            <td>
            <div class="onoffswitch">
                <input type="checkbox" name="validationswitch" class="onoffswitch-checkbox" data-bind="checked: validation, attr: {id: 'validation'+name, value: validation}, click: $parent.project_switch_validation" >
                <label class="onoffswitch-label" data-bind="attr: {for: 'validation'+name}">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
            </div>
            </td>
						<td>
						<div class="onoffswitch">
								<input type="checkbox" name="users_can_addswitch" class="onoffswitch-checkbox" data-bind="checked: users_can_add, attr: {id: 'users_can_add'+name, value: users_can_add}, click: $parent.project_switch_users_can_add" >
								<label class="onoffswitch-label" data-bind="attr: {for: 'users_can_add'+name}">
								<div class="onoffswitch-inner"></div>
								<div class="onoffswitch-switch"></div>
						</label>
						</div>
						</td>
						<td>
						<div class="onoffswitch">
								<input type="checkbox" name="point_and_clickswitch" class="onoffswitch-checkbox" data-bind="checked: point_and_click, attr: {id: 'point_and_click'+name, value: point_and_click}, click: $parent.project_switch_point_and_click" >
								<label class="onoffswitch-label" data-bind="attr: {for: 'point_and_click'+name}">
								<div class="onoffswitch-inner"></div>
								<div class="onoffswitch-switch"></div>
						</label>
						</div>
						</td>
						<td data-bind="text: $parent.byte_convert(stats.quota)"></td>
            <td class="actions">
							<i data-bind="attr: { project: _id }, click: $parent.edit_project" class="fi-page-edit"> </i>
							<i class="fi-trash" data-bind="attr: { project: _id }, click: $parent.delete_project">	</i>
							<i class="fi-monitor" data-bind="attr: { project: _id }, click: $parent.show_project"> </i>
							<a target="_blank" data-bind="attr: {href: '/project/'+ko.utils.unwrapObservable(_id)+'/dashboard?api={{user.key}}'"><i class="fi-eye"></i></a></td>
        </tr>
    </tbody>
    </table>
    </div>
    </div>

    <div class="row" data-bind="visible: showProject">
    <div class="small-6 large-6 columns">
    <form>
        <label for="pname">Project name</label>
        <input name="pname" id="pname" type="text" data-bind="value: project_name"/>
				<label for="pdesc">Project short description</label>
        <textarea name="pdesc" id="pdesc" data-bind="value: project_short_description"></textarea>
        <button type="button" data-bind="click: add_project">Create</button>
    </form>
    </div>
    </div>

<!-- Dialog -->
<div id="myModal" class="reveal-modal large" data-reveal>
	<!--
	<div class="row">
		<div class="large-2 columns"><button id="showall">Show all points</button></div>
		<div class="large-2 columns">
			<button id="showcluster">Show clusters</button>
		</div>
	</div>
	-->
	<div id="myModalContent"><canvas width="800" height="600" id="myModalCanvas"></canvas></div>
	<a class="close-reveal-modal">&#215;</a>
</div>


<script type='text/javascript' src='http://harthur.github.com/clusterfck/demos/colors/clusterfck.js'></script>

  <script>
		$(document).foundation();


    var my_projects = [];

    var project =  { name: '',
                    owner: '{{ user.username }}',
										description: '',
                    status: false };

		function showAllPoints(canvas) {
			var context = canvas[0].getContext('2d');
			context.clearRect(0, 0, canvas[0].width, canvas[0].height);
			var points = viewModel.image_current().stats.user_click;
			for(point in points) {
				pos = points[point].split(",");
				context.globalAlpha = 0.5;
				context.beginPath();
				context.moveTo(0,0);
				context.arc(Math.ceil(pos[0]), Math.ceil(pos[1]), 5, 0, 2 * Math.PI);
				context.fillStyle = 'red';
				context.fill();
			}
		}

		var clusters = [];

		function add_cluster_points(tree, level) {
			if(level<=viewModel.cluster_depth()) {
				if(tree.value) {
					clusters.push(tree.value);
				}
				if(tree.right) {
					add_cluster_points(tree.right, level + 1);
				}
				if(tree.left) {
				add_cluster_points(tree.left, level + 1);
				}
			}
		}

		function showClusterPoints(canvas) {
			var context = canvas[0].getContext('2d');
			context.clearRect(0, 0, canvas[0].width, canvas[0].height);
			var points = viewModel.image_current().stats.user_click;
			var cluster_points = [];
			clusters = [];
			for(pos in points) {
				pos = points[pos].split(",");
				cluster_points.push(pos);
			}
			var tree = clusterfck.hcluster(cluster_points, "euclidean", "average");
			level = 0;

			if(tree.value) {
				clusters.push(tree.value);
			}
			if(tree.right) {
				add_cluster_points(tree.right, level);
			}
			if(tree.left) {
				add_cluster_points(tree.left, level);
			}
			for(point in clusters) {
				pos = clusters[point];
				context.globalAlpha = 0.5;
				context.beginPath();
				context.moveTo(0,0);
				context.arc(Math.ceil(pos[0]), Math.ceil(pos[1]), 5, 0, 2 * Math.PI);
				context.fillStyle = 'red';
				context.fill();
			}

		}

    $(document).ready(function() {

		$(document).on('change', '.rating', function(){
			var elt_id = $(this).attr('data-id');
			$('#'+elt_id).val(this.value);
		}); 

			$.ajax({
				cache: false,
				url: "/project",
				dataType: "json",
				success: function(data) {
					viewModel.project_list(data);
				}
			});

			/*
			$("#showall").click(function(){
				var canvas = $("#myModalCanvas");
				showAllPoints(canvas);
			});

			$("#showcluster").click(function(){
				var canvas = $("#myModalCanvas");
				showClusterPoints(canvas);
			});
			*/


				$(document).on("click", "#show_image_points", function() {
					$("#myModal").foundation('reveal', 'open');
					var imageObj = new Image();
					var image_url = '/image/'+$(this).attr("data-image")+'/raw';
					var canvas = $("#myModalCanvas");
					imageObj.onload = function() {
						$("#myModalContent").css('background-image', 'url('+imageObj.src+')');
						canvas.attr("height",imageObj.height);
						canvas.attr("width", imageObj.width);
						showAllPoints(canvas);
					};
					imageObj.src = image_url;
				});

				$(document).on("click", "#form_element .fi-trash", function() {
						//var form_elts = $("#form_element .form_elt");
						var new_form_elements ='';
						var trash_id = $(this).attr("data-id");
						$("#form_element .form_elt").each(function(index) {
							if($(this).attr("id")!=("elt"+trash_id)) {
								new_form_elements += $(this)[0].outerHTML;
							}
						});
						viewModel.form_elements(new_form_elements);
				});
    });

    var viewModel = {
      		//user: ko.observable('{{user.username}}'),
					user_admin: ko.computed(function() { return {{isAdmin}}; }, viewModel),
      		user_logged: ko.computed(function() { return '{{user.username}}'!=''; }, viewModel),
					byte_convert: function(quota) {
						return Math.floor(quota/1000000)+'G'; },
      		home: ko.observable('/'),
      		login: ko.observable('/login'),
      		logout: ko.observable('/logout'),
					my: ko.observable('/my'),
      		register: ko.observable('/users/register'),
					manageItems: ko.observable(false),
					manageAccount: ko.observable(false),
					admin: ko.observable(false),
					form_elements: ko.observable(''),
					cluster_depth: ko.observable(2),
					user_current: ko.observable({ username: '{{ user.username}}',
																			key: '{{ user.key}}'}),
					user_suspend: function(user) {
						$.ajax({
								url: '/users/{{user._id}}/suspend',
								type: 'PUT',
								success: function(result) {
									viewModel.user_current(result);
									$.ajax({
										cache: false,
										url: "/project",
										dataType: "json",
										success: function(data) {
											viewModel.project_list(data);
										}
									});
									/*
									$.getJSON("/project", function(data) {
											viewModel.project_list(data);
									});
									*/
								}
								});
					},
					user_newkey: function() {
						$.ajax({
								url: '/users/{{user._id}}/key',
								type: 'PUT',
								data: {
									operation: 'key',
								},
								success: function(result) {
									viewModel.user_list.remove(user);
									user.registered = false;
									viewModel.user_list.push(user);
								}
								});
					},
					user_newpassword: function() {
						var password = $("#userpassword");
						var password_confirm = $("#userpasswordconfirm");
						if(password!=password_confirm) {
							alert("Passwords do not match");
							return;
						}
						$.ajax({
								url: '/users/{{user._id}}/password',
								type: 'PUT',
								data: {
									operation: 'password',
									password: password
								},
								success: function(result) {
									viewModel.user_current(result);
									alert('Updated');
								}
								});
					},
					user_manage: function() {
						$.ajax({
								url: '/users/{{ user._id }}',
								type: 'GET',
									success: function(result) {
										viewModel.user_current(result);
									}
								});
						panelAccount();
					},
					user_admin: function() {
						$.ajax({
								url: '/users',
								type: 'GET',
									success: function(result) {
										viewModel.user_list(result);
									}
								});
						panelAdmin();
					},
					user_list: ko.observableArray(),
					image_current: ko.observable({}),
					image_show: function(image) {
						  viewModel.image_current(image);
							//console.log(image.stats);
							//var stat_html = "";
							var has_point_and_click = false;
							$("#image_stats").html("");
							for(stat in image.stats) {
								if(stat == 'user_click') {
									if(stat.length>0) {
										has_point_and_click = true;
									}
									continue;
								}
								var data = {labels: [],
														datasets:[
														{ fillColor : "rgba(151,187,205,0.5)",
															strokeColor : "rgba(151,187,205,1)",
															data: []
														}
														]
													};
								//stat_html += "<div>";
								project = viewModel.project_current();
								var label=null;
								for(var j=0;j<project["form"].length;j++) {
									if("r"+project["form"][j]["id"] == stat) {
										label = project["form"][j]["label"];
										break;
									}
								}
								if(label==null) {
									continue;
								}
								//stat_html += "<div>"+label+"</div>";
								//$("#image_stats").append("<div>"+label+"</div>");
								//stat_html += "<ul>";
								var nb_stat = 0;
								for(count in image.stats[stat]) {
									nb_stat += 1;
									data.labels.push(count);
									//stat_html += "<li>"+count+": "+image.stats[stat][count]+"</li>";
									data.datasets[0].data.push( image.stats[stat][count] );
								}
								//if(nb_stat==1) {
									// Add a fake for scale
									data.labels.push("other");
									data.datasets[0].data.push( 0 );
								//}
								//stat_html += "</ul>";
								//stat_html += "</div>";
								$("#image_stats").append('<div class="small-6 "><div>'+label+'</div><canvas id="chart_'+stat+'" ></canvas></div>');
								var ctx = $("#chart_"+stat).get(0).getContext("2d");
								var myNewChart = new Chart(ctx).Bar(data);
							}
							if(has_point_and_click) {
								$("#image_stats").append('<div class="small-6 "><button id="show_image_points" type="button" data-image="'+image._id+'">Display image points</button></div>');
							}
							//$("#image_stats").html(stat_html);
						},
					  image_list: ko.observableArray(),
						image_trash: function(image) {
							$.ajax({
									url: '/image/'+image._id,
									type: 'DELETE',
										success: function(result) {
											viewModel.image_list.remove(function(item) { return item._id == image._id })
										}
									});
						},
            image_validate: function(image) {
              $.ajax({
                  url: '/image/'+image._id+'/validate',
                  type: 'PUT',
                  success: function(result) {
										image_list.remove(image);
										image['validated'] = true;
										image_list.push(image);
                  }
                  });
            },
            project_list: ko.observableArray(),
            showProjects: ko.observable(true),
            showProject: ko.observable(false),
            editProject: ko.observable(false),
					  project_current: ko.observable({ users: []}),
						project_delete_member: function(user) {
							console.log("delete user "+user);
							if(user == '{{user.username}}') {
								// Can't delete ourselves
								return false;
							}
							var index = viewModel.project_current().users.indexOf(user);
							var project = viewModel.project_current();
							var new_users = project.users.splice(index, 1);
							project.users = new_users;
							$.ajax({
								url: '/project/'+project._id,
								type: 'PUT',
								data: {
									users: new_users,
								},
								success: function(result) {
									$.ajax({
										cache: false,
										url: "/project",
										dataType: "json",
										success: function(data) {
												viewModel.project_list(data);
												viewModel.project_current(project);
										}
									});
									/*
									$.getJSON("/project", function(data) {
										viewModel.project_list(data);
										viewModel.project_current(project);
									});
									*/
								}
							});
						},
						project_add_member: function() {
							var user_new = $("#add_member").val();
							if(user_new=="") {
								return false;
							}
							viewModel.project_current().users.push(user_new);
							$.ajax({
								url: '/project/'+viewModel.project_current()._id,
								type: 'PUT',
								data: {
									users: viewModel.project_current().users,
								},
								success: function(result) {
									$.ajax({
										cache: false,
										url: "/project",
										dataType: "json",
										success: function(data) {
												viewModel.project_list(data);										}
									});
									/*
									$.getJSON("/project", function(data) {
										viewModel.project_list(data);
									});
									*/
								}
							});
						},
						project_update: function() {
								$.ajax({
										url: '/project/'+viewModel.project_current()._id,
										type: 'PUT',
										data: {
													description: viewModel.project_description(),
													short_description: viewModel.project_short_description(),
													google_api: viewModel.project_google(),
													askimet_api: viewModel.project_askimet()
												},
										success: function(result) {
											$.ajax({
												cache: false,
												url: "/project",
												dataType: "json",
												success: function(data) {
														viewModel.project_list(data);
												}
											});
											/*
											$.getJSON("/project", function(data) {
													viewModel.project_list(data);
											});
											*/
										}
								});
						},
            project_name: ko.observable(''),
					  project_description: ko.observable(''),
						project_google: ko.observable(''),
						project_askimet: ko.observable(''),
						project_short_description: ko.observable(''),
            project_owner: ko.observable('{{user.username}}'),
            project_status: ko.observable(false),
					  project_public: ko.observable(true),
					  project_switch_on_off: function(project) {
            	$.ajax({
              	url: '/project/'+project._id,
                type: 'PUT',
                data: {status: project.status},
                success: function(result) {
                }
            });
						return true;
					  },
            project_switch_public: function(project) {
            	$.ajax({
              	url: '/project/'+project._id,
                type: 'PUT',
                data: {public: project.public},
                success: function(result) {
              	}
              });
              return true;
            },
            project_switch_geo: function(project) {
            	$.ajax({
              	url: '/project/'+project._id,
                type: 'PUT',
                data: {geo: project.geo},
                success: function(result) {
                					}
              });
              return true;
            },
            project_switch_validation: function(project) {
            	$.ajax({
              	url: '/project/'+project._id,
                type: 'PUT',
                data: {validation: project.validation},
                success: function(result) {}
              });
              return true;
            },
						project_switch_users_can_add: function(project) {
							$.ajax({
								url: '/project/'+project._id,
								type: 'PUT',
								data: {users_can_add: project.users_can_add},
								success: function(result) {}
							});
							return true;
						},
						project_switch_point_and_click: function(project) {
							$.ajax({
								url: '/project/'+project._id,
								type: 'PUT',
								data: {point_and_click: project.point_and_click},
								success: function(result) {}
							});
							return true;
						},
            add_project: function(){
							viewModel.project_description('');
              $.post( "/project", { pname: this.project_name(),
											  pdesc: this.project_description()
												}, function(data) {
              						viewModel.project_list.push(data);
              });
              panelProjects();
            },
            edit_project: function(project) {
							viewModel.project_current(project);
							viewModel.project_description(project.description);
							viewModel.project_short_description(project.short_description);
							viewModel.project_google(project.google_api);
							viewModel.project_askimet(project.askimet_api);
							//$("#form_element").html("");
							$("#form_render").html("");
							var form_elts = project['form'];
							var new_elements = '';
							for(var i=0;i<form_elts.length;i++){
								var form_elt = form_elts[i];
								new_elements += add_to_form(form_elt['type'],form_elt);
							}
							viewModel.form_elements(new_elements);
							panelEditProject(project._id);
					  },
            show_project: function(project) {
							viewModel.project_current(project);
							panelManageItems(project._id);
					  },
            delete_project: function(project) {
            	$.ajax({
              	url: '/project/'+project._id,
                type: 'DELETE',
                success: function(result) {
                    viewModel.project_list.remove(function(item) {
											return item._id == project._id
										})
                }
              });
            },
          	selected_form_element: ko.observable(),
					  render_project_form_element: function() {
            	render_form();
            },
					  save_project_form_element: function() {
            	save_form();
            },
            add_project_form_element: function() {
							//var previous_form = viewModel.form_elements();
							// Save existing form status
							var form_elts = [];
							$("#form_element .label").each(function(elt) {
								var form_elt = { label: this.value, type: this.getAttribute("data-type"), id: this.getAttribute("data-id") };
								if(form_elt['type'] == 'single' || form_elt['type'] == 'multiple') {
									var values = $("#valuesform"+this.getAttribute("data-id")).val().split(",");
									form_elt['values'] = values;
								}
								form_elts.push(form_elt);
							});
							var new_elements = '';
							for(var i=0;i<form_elts.length;i++){
								var form_elt = form_elts[i];
								new_elements += add_to_form(form_elt['type'],form_elt);
							}
							new_elements += add_to_form(this.selected_form_element());
							viewModel.form_elements(new_elements);

            },
					  delete_project_form_element: function(data, form_elt) {
							$("#elt"+form_elt.currentTarget.getAttribute("data-id")).remove();
							var new_form_elements = $("#form_element").html("");
							viewModel.form_elements(new_form_elements);
					  },
            project_form_elements: ko.observableArray([
							'single choice',
							'multiple choice',
							'textarea',
							'text',
							'checkbox',
							'rating'
							]),
						widget_foundation_show: function() {
							$(".project_id").text(viewModel.project_current()._id);
							$(".project_point_and_click").text(viewModel.project_current().point_and_click);
							$(".scitizen_host").text(viewModel.scitizen_host());
							$("#widget").foundation('reveal', 'open');
							$("#widget .bootstrap").hide();
							$("#widget .foundation").show();
						},
						widget_bootstrap_show: function() {
							$(".project_id").text(viewModel.project_current()._id);
							$(".project_point_and_click").text(viewModel.project_current().point_and_click);
							$(".scitizen_host").text(viewModel.scitizen_host());
							$("#widget").foundation('reveal', 'open');
							$("#widget .bootstrap").show();
							$("#widget .foundation").hide();
						},
						scitizen_host: ko.observable(window.location.host)
    };

    ko.applyBindings(viewModel);

	/**
	* Save form for project
	*/
	function save_form() {
		var project_form = [];
		$("#form_element .label").each(function(elt) {
			var form_elt = { label: this.value, type: this.getAttribute("data-type"), id: this.getAttribute("data-id") };
			if(form_elt['type'] == 'single' || form_elt['type'] == 'multiple') {
				var values = $("#valuesform"+this.getAttribute("data-id")).val().split(",");
				form_elt['values'] = values;
			}
			project_form.push(form_elt);
		});
        $.ajax({
						url: '/project/'+viewModel.project_current()._id,
            type: 'PUT',
            data: {form: project_form},
            success: function(result) {
							var old = viewModel.project_current();
							viewModel.project_current.remove(old);
							old.form = project_form;
							viewModel.project_current(old);
							viewModel.project_list.push(old);
							/*
							var plist = viewModel.project_list();
							for(var i=0;i<plist.length;i++){
								if(plist[i]._id == old._id) {
									plist[i] = old;
									break;
								}
							}
							*/

            }
        });
	}


	/**
	* Show what form will looks like
	*/
	function render_form() {
		var form_html = "<form>";
		$("#form_element .label").each(function(elt) {
			form_html += render_form_element(this.getAttribute("data-type"), this.getAttribute("data-id"));
		});
		form_html += "</form>";
		$("#form_render").html(form_html);
	}

    /**
    * Add a form element (choice, textarea, .. to project form)
    */
    var elt_count = 0;

	function add_to_form(elt) {
		add_to_form(elt,null);
	}

  function add_to_form(elt, info) {
		if(elt == undefined) {
			return;
		}
		elt_count += 1;
		var elt_id = elt_count;
		if(info!=null && 'id' in info) {
			elt_id = parseInt(info['id'].replace('elt',''));
			if(elt_count<= elt_id) { elt_count = elt_id + 1; }
		}
		var form_elt = '<div id="elt'+elt_id+'" class="form_elt">';
		//form_elt += '<i class="fi-trash" data-id="'+elt_id+'" data-bind="click: delete_project_form_element"></i>';
		form_elt += '<i class="fi-trash" data-id="'+elt_id+'"></i>';
		var labelvalue = 'label'+elt_id;
		var eltvalues = "";
		if(info!=null) {
			labelvalue = info['label'];
			if('values' in info) {
				eltvalues = info['values'].join();
			}
		}
		if(elt == 'textarea') {
			form_elt += '<input type="text" class="label" id="labelform'+elt_id+'" value="'+labelvalue+'" data-type="textarea" data-id="'+elt_id+'"/>';
			form_elt += '<textarea id="form'+elt_id+'"></textarea>';
		}
        else if(elt == 'text') {
            form_elt += '<input type="text" class="label" id="labelform'+elt_id+'" value="'+labelvalue+'" data-type="text" data-id="'+elt_id+'"/>';
            form_elt += '<input type="text" id="form'+elt_id+'"/>';
        }
        else if(elt == 'checkbox') {
            form_elt += '<input type="text" class="label" id="labelform'+elt_id+'" value="'+labelvalue+'" data-type="checkbox" data-id="'+elt_id+'"/>';
            form_elt += '<input type="checkbox" id="form'+elt_id+'"/>';
        }
        else if(elt == 'single' || elt=='single choice') {
            form_elt += '<input type="text" class="label" id="labelform'+elt_id+'" value="'+labelvalue+'" data-type="single" data-id="'+elt_id+'"/>';
		    form_elt += '<input type="text" id="valuesform'+elt_id+'" value="'+eltvalues+'" placeholder="Enter choices, comma separated"/>';
            form_elt += '<select id="form'+elt_id+'"></select>';
        }
        else if(elt == 'multiple' || elt == 'multiple choice') {
            form_elt += '<input type="text" class="label" id="labelform'+elt_id+'" value="'+labelvalue+'" data-type="multiple" data-id="'+elt_id+'"/>';
            form_elt += '<input type="text" id="valuesform'+elt_id+'" value="'+eltvalues+'" placeholder="Enter choices, comma separated"/>';
            form_elt += '<select id="form'+elt_id+'" multiple="multiple"></select>';
        }
		else if(elt == 'rating') {
			form_elt += '<input type="text" class="label" id="labelform'+elt_id+'" value="'+labelvalue+'" data-type="rating" data-id="'+elt_id+'"/>';
            form_elt += '<input type="text" id="form'+elt_id+'"/>';
        }


		form_elt += "</div>";
		//$("#form_element").append(form_elt);
		//var dynamic_elt = document.getElementById("elt"+elt_id);
		//ko.applyBindings(viewModel, dynamic_elt);
		return form_elt;
    }

    function addProject() {
        panelNewProject();
    }

		function panelAdmin() {
				viewModel.manageItems(false);
				viewModel.showProjects(false);
				viewModel.showProject(false);
				viewModel.editProject(false);
				viewModel.manageAccount(false);
				viewModel.admin(true);
		}

		function panelAccount() {
				viewModel.manageItems(false);
				viewModel.showProjects(false);
				viewModel.showProject(false);
				viewModel.editProject(false);
				viewModel.manageAccount(true);
				viewModel.admin(false);
		}

    function panelProjects() {
        viewModel.manageItems(false);
        viewModel.showProjects(true);
        viewModel.showProject(false);
        viewModel.editProject(false);
				viewModel.manageAccount(false);
				viewModel.admin(false);
    }

    function panelNewProject() {
        viewModel.manageItems(false);
        viewModel.showProjects(false);
        viewModel.showProject(true);
        viewModel.editProject(false);
				viewModel.manageAccount(false);
				viewModel.admin(false);
    }

    function panelEditProject(project_id) {
				viewModel.manageItems(false);
        viewModel.showProjects(false);
        viewModel.showProject(false);
        viewModel.editProject(true);
				viewModel.manageAccount(false);
				viewModel.admin(false);
    }

	function panelManageItems(project_id) {
        viewModel.showProjects(false);
        viewModel.showProject(false);
        viewModel.editProject(false);
				viewModel.manageItems(true);
				viewModel.manageAccount(false);
				viewModel.admin(false);
				var project = viewModel.project_current();
        showProjectStats(project);
				$.ajax({
    			cache: false,
    			url: "/project/"+project_id+"/image",
    			dataType: "json",
    			success: function(data) {
						viewModel.image_list(data);
    			}
				});
				/*
        $.getJSON("/project/"+project_id+"/image", function(data) {
            viewModel.image_list(data);
        });
				*/
	}
    function showProjectStats(project){
        var html = '<div class="small-6"><div>Statistics</div>';
        html += '<div>Google</div>';
        html += '<canvas id="chart_google_'+project.name+'" ></canvas>';
        html += '<div>Images</div>';
        html += '<canvas id="chart_image_'+project.name+'" ></canvas>';
        html += '<div>Quota</div>';
        html += '<canvas id="chart_quota_'+project.name+'" ></canvas>';
        html += '</div>';
        $("#project_stats").html(html);
        $.ajax({
            cache: false,
            url: "/project/"+project._id+"/stats",
            dataType: "json",
            success: function(stats) {
                var data_google = { labels : [],
                     datasets:  []
                };
                var data_image = { labels : [],
                     datasets:  []
                };
                var data_quota = { labels : [],
                     datasets:  []
                };

                if(stats.length==0) { return; } 
                var stat = stats[0].points.reverse();
                var google_stats =  { label: 'Google', data: []}
                var image_stats =  { label: 'Images', data: [] };
                var quota_stats =  { label: 'Quota', data: [] };
                for(i=0;i<stat.length;i++) {
					data_google.labels.push(timeConverter(stat[i][0]));
                    data_image.labels.push(timeConverter(stat[i][0]));
                    data_quota.labels.push(timeConverter(stat[i][0]));
                    google_stats.data.push(stat[i][1]);
                    image_stats.data.push(stat[i][2]);
                    quota_stats.data.push(stat[i][3]);
                }
                data_google.datasets.push(google_stats);
                data_image.datasets.push(image_stats);
                data_quota.datasets.push(quota_stats);
                var ctx = $("#chart_google_"+project.name).get(0).getContext("2d");
                var myLineChart = new Chart(ctx).Line(data_google);
                ctx = $("#chart_image_"+project.name).get(0).getContext("2d");
                myLineChart = new Chart(ctx).Line(data_image);
                ctx = $("#chart_quota_"+project.name).get(0).getContext("2d");
                myLineChart = new Chart(ctx).Line(data_quota);
            }
        });
    }

function timeConverter(UNIX_timestamp){
 var a = new Date(UNIX_timestamp);
 var months =
['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
     var year = a.getFullYear();
     var month = months[a.getMonth() - 1];
     var date = a.getDate();
     var hour = a.getHours();
     var min = a.getMinutes();
     var sec = a.getSeconds();
     var time = date + ',' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
     return time;
 }

  </script>


<!-- Widget viewer -->
<div id="widget" class="reveal-modal large" data-reveal>
	<h3>HTML headers</h3>
	<div class="foundation">
	&lt;script src=&quot;//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/vendor/jquery.min.js&quot;&gt;&lt;/script&gt;
  <br/>
	&lt;script src=&quot;//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/foundation.min.js&quot;&gt;&lt;/script&gt;
	<br/>
	&lt;link rel=&quot;stylesheet&quot; href=&quot;//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.min.css&quot;&gt;
	</div>
	<div class="bootstrap">
		&lt;script src=&quot;//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/vendor/jquery.min.js&quot;&gt;&lt;/script&gt;<br/>
		&lt;script src=&quot;//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js&quot;&gt;&lt;/script&gt;<br/>
		&lt;link rel=&quot;stylesheet&quot; href=&quot;//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css&quot;&gt;<br/>
	</div>
	<h3>Code to include</h3>
	<div class="bootstrap">
		&lt;div class=&quot;modal fade&quot;&gt;<br/>
		&lt;div class=&quot;modal-dialog&quot;&gt;<br/>
		&lt;div class=&quot;modal-content&quot;&gt;<br/>
			&lt;div class=&quot;modal-header&quot;&gt;<br/>
				&lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;span class=&quot;sr-only&quot;&gt;Close&lt;/span&gt;&lt;/button&gt;<br/>
			&lt;/div&gt;<br/>
			&lt;div class=&quot;modal-body&quot;&gt;<br/>
					&lt;div id=&quot;myModalContent&quot;&gt;&lt;canvas width=&quot;800&quot; height=&quot;600&quot; id=&quot;myModalCanvas&quot;&gt;&lt;/canvas&gt;&lt;/div&gt;<br/>
			&lt;/div&gt;<br/>
			&lt;div class=&quot;modal-footer&quot;&gt;<br/>
				&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;<br/>
			&lt;/div&gt;<br/>
		&lt;/div&gt;<br/>
		&lt;/div&gt;<br/>
		&lt;/div&gt;<br/>
	&lt;script&gt;<br/>
	function display_image_for_click(image_url) {<br/>
		$(&#39;#myModal&#39;).modal(&#39;show&#39;);<br/>
		var imageObj = new Image();<br/>
		imageObj.onload = function() {<br/>
			$(&quot;#myModalContent&quot;).css(&#39;background-image&#39;, &#39;url(&#39;+imageObj.src+&#39;)&#39;);<br/>
			var canvas = $(&quot;#myModalCanvas&quot;);<br/>
			canvas.attr(&quot;height&quot;,imageObj.height);<br/>
			canvas.attr(&quot;width&quot;, imageObj.width);<br/>
		};<br/>
		imageObj.src = image_url;<br/>
	}<br/>
	&lt;/script&gt;<br/>
	</div>
	<div class="foundation">
		&lt;div id=&quot;myModal&quot; class=&quot;reveal-modal large&quot; data-reveal&gt;<br/>
		&lt;div id=&quot;myModalContent&quot;&gt;&lt;canvas width=&quot;800&quot; height=&quot;600&quot; id=&quot;myModalCanvas&quot;&gt;&lt;/canvas&gt;&lt;/div&gt;<br/>
		&lt;a class=&quot;close-reveal-modal&quot;&gt;&amp;#215;&lt;/a&gt;<br/>
		&lt;/div&gt;<br/>
		<br/>
		&lt;script&gt;<br/>
			$(document).foundation();<br/>
			<br/>
			function display_image_for_click(image_url) {<br/>
				$(&quot;#myModal&quot;).foundation(&#39;reveal&#39;, &#39;open&#39;);<br/>
				var imageObj = new Image();<br/>
				imageObj.onload = function() {<br/>
					$(&quot;#myModalContent&quot;).css(&#39;background-image&#39;, &#39;url(&#39;+imageObj.src+&#39;)&#39;);<br/>
					var canvas = $(&quot;#myModalCanvas&quot;);<br/>
					canvas.attr(&quot;height&quot;,imageObj.height);<br/>
					canvas.attr(&quot;width&quot;, imageObj.width);<br/>
				};<br/>
				imageObj.src = image_url;<br/>
			}<br/>
		&lt;/script&gt;<br/>
	</div>
	<div>
		&lt;div class=&quot;row&quot;&gt;<br/>
		&lt;div class=&quot;large-6 columns&quot;&gt;<br/>
				&lt;img id=&quot;random_image&quot; alt=&quot;random image from database&quot; /&gt;<br/>
				&lt;span id=&quot;point_and_click&quot;&gt;Click image to point the region of interest&lt;/span&gt;<br/>
		&lt;/div&gt;<br/>
		&lt;div class=&quot;large-6 columns&quot;&gt;<br/>
				&lt;form id=&quot;random_form&quot;&gt;<br/>
				&lt;/form&gt;<br/>
		&lt;/div&gt;<br/>
		&lt;/div&gt;<br/>
		&lt;div class=&quot;row&quot;&gt;<br/>
		&lt;div class=&quot;large-3 columns&quot;&gt;<br/>
				&lt;button id=&quot;curate&quot; class=&quot;button action&quot;&gt;&lt;i class=&quot;fi-upload&quot;&gt;&lt;/i&gt; Send&lt;/button&gt;<br/>
		&lt;/div&gt;<br/>
		&lt;div class=&quot;large-3 columns&quot;&gt;<br/>
				&lt;button id=&quot;spam&quot; class=&quot;button action&quot;&gt;&lt;i class=&quot;fi-trash&quot;&gt;&lt;/i&gt; Spam&lt;/button&gt;<br/>
		&lt;/div&gt;<br/>
		&lt;div class=&quot;large-6 columns&quot;&gt;<br/>
		&lt;/div&gt;<br/>
		&lt;/div&gt;<br/>
		<br/>
		&lt;script type=&#39;text/javascript&#39; src=&#39;http://<span class="scitizen_host" data-bind="text: scitizen_host"></span>/javascripts/scitizen.js&#39;&gt;&lt;/script&gt;<br/>
	&lt;script&gt;<br/>
	<br/>
		var scitizen_images = [];<br/>
		var image = null;<br/>
		var project = {
			&#39;_id&#39;: &#39;<span class="project_id" data-bind="text: project_current()._id"></span>&#39;,
			&#39;point_and_click&#39;: <span class="project_point_and_click" data-bind="text: project_current().point_and_click"></span>
		};<br/>
		<br/>
		if(! project.point_and_click) {<br/>
			$(&quot;#point_and_click&quot;).hide();<br/>
		}<br/>
		<br/>
		$(function() {<br/>
			$.ajax({<br/>
				cache: false,<br/>
				url: &quot;http://<span class="scitizen_host" data-bind="text: scitizen_host"></span>/project/&quot;+project._id+&quot;/image&quot;,<br/>
				dataType: &quot;json&quot;,<br/>
				success: function(data) {<br/>
						if(data!=null &amp;&amp; data.length&gt;0) {<br/>
					images = data<br/>
								changeRandomImage();<br/>
						}<br/>
				}<br/>
			});<br/>
			<br/>
			$(&quot;#curate&quot;).click(function() {<br/>
	if(image==null) { return; }<br/>
				var form_elts = $(&quot;#random_form .sciform&quot;);<br/>
				var curate = {};<br/>
				var form_ids = &quot;&quot;;<br/>
				var i = 0;<br/>
				$.each(form_elts, function(form_elt) {<br/>
					if(i&gt;0) { form_ids += &quot;,&quot; };<br/>
					i+=1;<br/>
					// send form_elts with all attr, comma separated<br/>
					// and each key=value form element<br/>
					curate[$(this).attr(&#39;id&#39;)]=$(this).val();<br/>
					form_ids += $(this).attr(&#39;id&#39;);<br/>
				});<br/>
				curate[&#39;form_elts&#39;] = form_ids;<br/>
				$.ajax({<br/>
					url: &#39;http://<span class="scitizen_host" data-bind="text: scitizen_host"></span>/image/&#39;+image._id,<br/>
					type: &#39;PUT&#39;,<br/>
					data: curate,<br/>
					success: function(result) {<br/>
						changeRandomImage();<br/>
					}<br/>
				});<br/>
			});<br/>
			<br/>
			$(&quot;#spam&quot;).click(function(){<br/>
				var image_id = image._id;<br/>
				$.ajax({<br/>
						url: &#39;http://<span class="scitizen_host" data-bind="text: scitizen_host"></span>/image/&#39;+image_id,<br/>
						type: &#39;PUT&#39;,<br/>
						data: { spam: 1},<br/>
						success: function(result) {<br/>
							changeRandomImage();<br/>
						}<br/>
				});<br/>
		});<br/>
		<br/>
			$(&quot;#random_image&quot;).click(function(){<br/>
				var image_url = &#39;http://<span class="scitizen_host" data-bind="text: scitizen_host"></span>/image/&#39;+image._id+&#39;/raw&#39;;<br/>
				display_image_for_click(image_url);<br/>
			});<br/>
			<br/>
			$(&quot;#myModalCanvas&quot;).on(&#39;click&#39;,function(e) {<br/>
				if(! project.point_and_click) { return; }<br/>
				var canvas = document.getElementById(&#39;myModalCanvas&#39;);<br/>
				var pos = getRelativePosition(canvas, e);<br/>
				$(&quot;#user_click&quot;).val(pos.x+&quot;,&quot;+pos.y);<br/>
				var context = canvas.getContext(&#39;2d&#39;);<br/>
				context.clearRect(0, 0, canvas.width, canvas.height);<br/>
				context.globalAlpha = 0.5;<br/>
				context.beginPath();<br/>
				context.moveTo(0,0);<br/>
				context.arc(Math.ceil(pos.x), Math.ceil(pos.y), 5, 0, 2 * Math.PI);<br/>
				context.fillStyle = &#39;red&#39;;<br/>
				context.fill();<br/>
			});<br/>
			<br/>
		});<br/>
		<br/>
		function changeRandomImage() {<br/>
			var data = images;<br/>
			var random_elt = Math.floor((Math.random() * data.length));<br/>
			image = data[random_elt];<br/>
			$(&quot;#random_image&quot;).attr(&#39;src&#39;, &#39;http://<span class="scitizen_host" data-bind="text: scitizen_host"></span>/image/&#39;+image._id+&#39;/raw&#39;);<br/>
			// Update form<br/>
			var form_html = &quot;&quot;;<br/>
			var count = 0;<br/>
			var keys = &quot;&quot;;<br/>
			$.each(project[&#39;form&#39;],function(key) {<br/>
						if(count&gt;0) { keys += &#39;,&#39;; }<br/>
						keys += project[&#39;form&#39;][key][&#39;id&#39;];<br/>
						var key_id = &quot;r&quot;+project[&#39;form&#39;][key][&#39;id&#39;];<br/>
						count += 1;<br/>
						var value=null;<br/>
						if(image[&#39;fields&#39;][key_id]!=undefined) {<br/>
							value = image[&#39;fields&#39;][key_id];<br/>
						}<br/>
						form_html += project_form_element(project[&#39;form&#39;][key],value);<br/>
			});<br/>
			<br/>
			if(project.point_and_click) {<br/>
				keys += &quot;,user_click&quot;;<br/>
				form_html += &#39;&lt;input class=&quot;sciform&quot; id=&quot;user_click&quot; name=&quot;user_click&quot; type=&quot;hidden&quot; value=&quot;&quot;/&gt;&#39;;<br/>
			}<br/>
			form_html += &#39;&lt;input class=&quot;&quot; name=&quot;form_elts&quot; type=&quot;hidden&quot; value=&quot;&#39;+keys+&#39;&quot;/&gt;&#39;;<br/>
			$(&quot;#random_form&quot;).html(form_html);<br/>
		}<br/>
		<br/>
		function getRelativePosition(canvas, e) {<br/>
			var rect = canvas.getBoundingClientRect();<br/>
			return {<br/>
					x: e.clientX - rect.left,<br/>
					y: e.clientY - rect.top<br/>
				};<br/>
		}<br/>
		<br/>
	&lt;/script&gt;<br/>
	</div>
<a class="close-reveal-modal">&#215;</a>
</div>
