meta.foundation-data-attribute-namespace {
  font-family: false;
}


#myModalCanvas {
}

#myModalContent {
  width: 800px;
  height: 600px;
  background-repeat: no-repeat;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #BDBDBD;
}


.block .columns {
    padding: 10px:
}

.section_white {
    background-color: white;
    color: black;
}

.section_dark {
    background-color: #262626;
    color: #999999;
}


.section_dark h1{
    color: #999999;
}

.section_dark h2{
    color: #999999;
}

.section_dark h3{
    color: #999999;
}

.section_dark label{
    color: #999999;
}


.block {
    font-size: 1.3em !important;
    font-family: 'Petrona', serif !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

#random_form label{
    font-size: 1.3em !important;
    font-family: 'Petrona', serif !important;
}


.main_image {
}

.action {
    margin-bottom: 10px;
    margin-top: 10px;
    margin: 5px;
}

#aboutus {
    min-height: 200px;
}

#map-canvas {
    width: 100%;
    min-height: 300px;
}
#cluster-canvas { width: 100%; min-height: 600px;  }

form label { margin-right: 5px; }

.callout { color: white; }

.thumb {
    max-width: 90px;
}

#form_render { background-color: lightgrey; padding: 10px; }

#featured img {
	max-height: 400px !important;
}

#thumbnails div img {
	 max-width: 220px !important;
}

#featured {
	text-align: center;
}

a {
  color: #00B7FF;
}

.graph {
	float: left;
}

.legenditem {
	padding: 5px;
}


#canvasplaceholder:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.onoffswitch {
    position: relative; width: 68px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s
ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif;
font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing:
border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; margin: 1.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 43px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in
0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.actions i { margin: 5px; }
