general:
    db: "scitizen"
    url: "http://localhost:3000/"
    admin: [ "root@localhost" ]
    storage: "pairtree"
    # Quota in GB
    plans: [ 'default' ]

mongo:
    host: 'localhost'
    port: 27017

rabbitmq:
    host: 'localhost'
    port: 5672
    login:
    password:
    vhost: '/'

stats:
    backend: 'influx'
    influx:
        host: 'localhost'
        port: 8086
        username: 'root'
        password: 'XXX'
        database: 'scitizen'

analytics:
    # piwik or google or none
    backend: 'piwik'
    google:
      siteid: ''
    piwik:
      url: ''
      siteid: ''

plans:
    default:
        quota: 100
        tiny:
          max_width: 600
          max_height: 400
mail:
    host: "mailtrap.io"
    #port: 465
    port: 25
    secure: false
    user: ""
    password: ""
    origin: scitizen.no-reply@mydomain.com

storage:
    username: "scitizen"
    region: "RegionOne"
    password: "test"
    authUrl: "http://131.254.16.132:5000/"
    container: "scitizen"
    path: "/var/lib/scitizen"

Google:
    apikey: ""
