/* Css Theme by CssTemplateHeaven - www.csstemplateheaven.com */

body {background: #ccc url(../images/bg.png); border-top: 3px solid #000}

.main_image img {
    max-height: 400px;
}

#map-canvas img {
    max-width: none !important;
}

#cluster-canvas img {
    max-width: none !important;
}

.project_selection {
    margin: 15px !important;
}

#project_selection {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}



#summary {
  padding: 20px;
  font-size:2em;
  text-align: center;
}
.slider-img {
  max-height:  400px;
}


#scientist{
  background-color: #6CBEEB;
  background-size: 100px;
  background-image: url(/images/240px-Methane-3D-balls.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#faq {

}

#citizen {
background-image: url(/images/world.png);
background-size: cover;
background-repeat: no-repeat;
}


#band1 {
  background-image: url(/images/band1.png);
  background-position: center top;
  background-size: cover;
}
.band {
  height: 160px;
  max-width: 1200px !important;
}

.main_info_text p{
  font-size: 1.2em;
  font-weight: bold !important;
}

.main_info_title {
  font-size: 4em;
}
.main_info_image{
  padding-top: 10px;
  padding-left: 10px;
  width: 100px;
}
.main_info {
  padding: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  background-color: white;
}

@media only screen and (max-width: 40em) {

#general {
  display: none;
}

.main_info_title {
  font-size: 2em;
}

}
